<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="shortcut icon" href="../Imagenes/logo chaupoo.png">
    <link href = "https://fonts.googleapis.com/css2?family=Style Script&display=swap"rel ="stylesheet">
</head>
<body class="body">
    <header>
        <div class="menu">
            <ul>
                <li id="item" ><a href="../index.html">Inicio</a></li>
                <li id="item"><a href="">Productos</a>
                    <ul class="desple">
                        <li><a href="./shampoo.html">Shampoo </a></li>
                        <li><a href="./serum.html">Serum</a></li>
                        <li><a href="">Desorante</a></li>
                        <li><a href="">Protector labial</a></li>
                    </ul>
                </li>    
                <li id="item"><a href="https://www.instagram.com/chaupootienda/" target="_blank">Instagram</a> </li>
                <li id="item"><a href="https://www.facebook.com/chaupootienda/" target="_blank">Facebook</a></li>
                <li id="item"><a href="./tienda.html">Tienda</a></li>
                <li id="item"><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <img src="../Imagenes/logo chaupoo.png" alt="logo chaupoo" width="25%">
        <h1>Bienvenidos a Chaupoo</h1>
    </header>

    <main>

    </main>
    <br>
        <br>
        <br>
        <br>
    <hr>

    <footer class="pieChaupoo">
        <p>chaupoo - Florencia Pihuala</p>
    </footer>

</body>
</html>