<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="TIENDA, SHAMPOO NATURAL, SERUM, COMBOS">
    <meta name="description" content="Encotra el shampoo solido indicado en Tiendas Champoo">
    <title>Chaupoo - Tienda</title>
    <link rel="shortcut icon" href="../Imagenes/logo chaupoo.png">
    <link href = "https://fonts.googleapis.com/css2?family=Style Script&display=swap"rel ="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="body tienda">
    <div class="container">
        <header class="header">
            <div>
                <img class="header__logo" src="../Imagenes/logo chaupoo.png" alt="logo chaupoo" width="25%">
            </div>
            <h1 class="header__titulo">Tienda Chaupoo</h1>
            <div>
                <ul class="menu">
                    <li class="item"><a href="../index.html">Inicio</a></li>
                    <li class="menu__item item"><a href="">Productos</a>
                        <ul class="desple">
                            <li><a href="./shampoo.html">Shampoo</a></li>
                            <li><a href="./serum.html">Serum</a></li>
                        </ul>
                    </li>    
                    <li class="item"><a href="https://www.instagram.com/chaupootienda/" target="_blank">Instagram</a> </li>
                    <li class="item"><a href="https://www.facebook.com/chaupootienda/" target="_blank">Facebook</a></li>
                    <li class="item"><a href="./tienda.html">Tienda</a></li>
                    <li class="item"><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </header>
        <main class="mainTienda">
        <div class="card" style="width: 18rem;">
            <img src="../Imagenes/alpha.jpeg" class="card-img-top" alt=".Alpha">
            <div class="card-body">
            <h5 class="card-title">Combo Alpha</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../Imagenes/beta.jpeg" class="card-img-top" alt="Beta">
            <div class="card-body">
            <h5 class="card-title">Combo Beta</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../Imagenes/gamma.jpeg" class="card-img-top" alt="gamma">
            <div class="card-body">
            <h5 class="card-title">Combo Gamma</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../Imagenes/delta.jpeg" class="card-img-top" alt="delta">
            <div class="card-body">
            <h5 class="card-title">Combo Delta</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../Imagenes/kappa.jpeg" class="card-img-top" alt="kappa">
            <div class="card-body">
            <h5 class="card-title">Combo Kappa</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../Imagenes/omega.jpeg" class="card-img-top" alt="omega">
            <div class="card-body">
                <h5 class="card-title">Combo Omega</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../Imagenes/sigma.jpeg" class="card-img-top" alt="sigma">
            <div class="card-body">
                <h5 class="card-title">Combo Sigma</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>

            
        </main>

        <footer class="pieChaupoo pieTienda">
            <p>Chaupoo - Florencia Pihuala</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>